@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.102 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius: var(--radius);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --size-container: 1280px;

  --height-dynamic-screen: 100dvh;
  --min-height-dynamic-screen: 100dvh;
  --max-height-dynamic-screen: 100dvh;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  h1,
  h2,
  h3 {
    scroll-margin-top: 4rem;
    font-weight: 600;
    font-variant-numeric: slashed-zero;
    letter-spacing: -0.025em;
    color: black;
  }

  @media (min-width: 1024px) {
    h1,
    h2,
    h3 {
      scroll-margin-top: 2rem;
    }
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  h2 + h3 {
    margin-top: 0 !important;
  }

  ol > li::marker {
    font-weight: 600;
  }

  ul > li {
    padding-left: 0.5rem;
  }

  ul > li::marker {
    color: var(--color-muted-foreground);
  }

  li div {
    display: inline;
  }

  li p,
  li div,
  li h1,
  li h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: var(--color-border);
  }

  img,
  object {
    border-radius: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
  }

  pre {
    overflow-x: auto;
    word-break: normal;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    background-color: var(--color-background);
    padding: 0.75rem;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.5;
  }

  code {
    white-space: pre-wrap;
  }

  code .sh__line::before {
    counter-increment: sh-line-number 1;
    content: counter(sh-line-number);
    margin-right: 24px;
    text-align: right;
    color: #a4a4a4;
  }
}

@layer components {
  .scrollable-area {
    height: 100%;
    max-height: var(--max-height-dynamic-screen);
    min-height: var(--min-height-dynamic-screen);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
